@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@500;600&display=swap');

/* Fonts:
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
*/

/* MMall Charcoal:
#34495e - default
#24394e - dark
#14293e - darker 
#86BBD8 - accent
#F5E9E2 - background/base
*/

:root {
    /* change the values below to your colors from your palette */
    --mmall-charc1: #34495e;
    --mmall-charc2: #24394e;
    --mmall-charc3: #24394e;
    --mmall-slate1: #396E94;
    --mmall-slate2: #86BBD8;
    --base-color: #F5E9E2;

    /* change the values below to your chosen font(s) */
    --heading-font: 'Raleway', "IM Fell French Canon SC";
    --paragraph-font: 'Montserrat', Helvetica, sans-serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: var(--mmall-slate1);
    /* headlines on a white background */
    --headline-color-on-color: white;
    /* headlines on a colored background */
    --paragraph-color-on-white: var(--mmall-slate1);
    /* paragraph text on a white background */
    --paragraph-color-on-color: white;
    /* paragraph text on a colored background */
    --paragraph-background-color: var(--mmall-slate1);
    --nav-link-color: var(--mmall-slate1);
    --nav-background-color: var(--base-color);
    --nav-hover-link-color: white;
    --nav-hover-background-color: var(--mmall-slate1);
}

* {
    /* outline: 2px dashed green; */
    font-family: var(--heading-font);
}

body {
    background-color: var(--base-color);
    margin: auto auto;
}

body * {
    justify-self: center;
}

a {
    text-decoration: none;
}

/* HEADER/NAVBAR */

#header {
    /* outline: 3px solid blue; */
    margin: 2em 6em;
    height: 3em;
    padding: 0 5px;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    column-gap: 10px;
    align-items: center;
}

#header img {
    height: 3em;
    max-width: 100%;
    min-width: 10em;
    object-fit: scale-down;
}

#nav-buttons {
    /* outline-color: purple; */

    /* height:max-content; */
    margin: auto;
    width: fit-content;
    padding: 0 10px;
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-buttons a {
    padding: 1em;
    /* text-align: center;
    vertical-align: middle; */
    color: var(--nav-link-color);
    background-color: var(--nav-background-color);
}

#nav-buttons a+a {
    border-left: 1px solid var(--nav-link-color);
}

#nav-buttons a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

/* FOOTER */

#footer {
    /* position: fixed;
    bottom: 0; */
    width: 100%;
    height: fit-content;
    background-color: var(--mmall-charc1);
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
}

#footer a {
    font-size: large;
    color: var(--base-color);
    padding: 1em;
}

#footer a:hover {
    text-decoration: underline;
}

/* PAGE CONTENT */

#page-content {
    margin: 2em 6em;
    display: grid;
}

.label {
    justify-self: center;
    width: fit-content;
    margin: 5px;
    font-size: x-large;
    padding: 5px;
    text-decoration: underline;
    /* border: 2px solid var(--mmall-charc1); */
}

/* HERO BOX */

#hero-box {
    /* border: 3px dotted green; */
    max-width: 100%;
    display: grid;
    grid-template-rows: repeat(4, 10em);
    grid-template-columns: repeat(3, 1fr);
}

#hero-img {
    height: 100%;
    width: 100%;
    object-fit: none;
    grid-column: 1/5;
    grid-row: 1/5;
}

#calltoaction {
    height: fit-content;
    padding: 10px;
    color: var(--base-color);
    border: 2px solid var(--base-color);
    font-size: x-large;
    grid-column: 2/3;
    grid-row: 3/4;
}

/* #hero-img:hover {
    filter: blur(2px);
    transition: filter 0.75s;
} */

#calltoaction:hover {
    color: var(--mmall-slate1);
    border-color: var(--mmall-slate2);
    transition: 0.25s;
}


/* BLOGPOST */

.blogpost * {
    /* border: 1px dashed green; */
    margin: auto;
}

.blogpost {
    border: 2px solid var(--mmall-charc1);
    margin: auto auto;
    height: auto;
    width: 60em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    column-gap: 2em;
}

.blogpost img {
    height: 10em;
    width: auto;
    grid-column: 1/2;
    object-fit: scale-down;
}

.blogpost p {
    /* height: auto; */
    grid-column: 2/4;
}

#blogpost-heading {
    text-decoration: underline;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 10px;
}

#blogpost-more {
    color: var(--mmall-slate1);
}

#blogpost-more:hover {
    color: var(--mmall-charc3);
    text-decoration: underline;
}

/* FEATURED PRODUCTS */

#featured-products {
    width: 85%;
    height: 25em;
    /* border: 2px dotted green; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 1em;
}

.featured-product {
    /* border: 2px dotted green; */
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    /* align-self: center;
    justify-self: center; */
    height: auto;
    width:100%;
}

.featured-product div {
    padding: 5px;
    grid-row: 2/3;
    grid-column: 1/1;
    border: 2px solid var(--base-color);
    color: var(--base-color);
    align-self: center;
    font-size: x-large;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.featured-product img {
    width: 100%;
    grid-row: 1/4;
    grid-column: 1/1;
    /* height: 100%; */
    /* object-fit: contain; */
}

.featured-product img:hover {
    filter: blur(2px);
    transition: filter 0.1s;
}

.featured-product div:hover {
    z-index: -1;
    color: var(--mmall-charc3);
    border-color: var(--mmall-charc3);
    transition: 0.1s;
}

/* STUFF FOR FAQ PAGE */

.QA {
    justify-content: left;
    width: 60%;
}

.QA h3 {
    padding: 10px;
    background-color: var(--mmall-charc3);
    color: white;
    width: fit-content;
}

/* STORE LOCATIONS */

#store-locations { 
    width: 85%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* column-gap: 5em; */
    justify-content: space-evenly;
}

.location {
    text-align: center;
    width: 15em;
}

.store-img-container {
    height: 15em;
    width: 100%;
    margin: auto auto;
}

.location img {
    justify-self: center;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15em;
    /* max-width: 100%; */
}

#customer-service {
    margin: 1em auto;
}