@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@500;600&display=swap');

/* Fonts:
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
*/

/* MMall Charcoal:
#34495e - default
#24394e - dark
#14293e - darker 
#86BBD8 - accent
#F5E9E2 - background/base
*/

:root {
    /* change the values below to your colors from your palette */
    --mmall-charc1: #34495e;
    --mmall-charc2: #24394e;
    --mmall-charc3: #24394e;
    --mmall-slate1: #396E94;
    --mmall-slate2: #86BBD8;
    --base-color: #F5E9E2;

    /* change the values below to your chosen font(s) */
    --heading-font: 'Raleway', "IM Fell French Canon SC";
    --paragraph-font: 'Montserrat', Helvetica, sans-serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: --mmall-slate1;
    /* headlines on a white background */
    --headline-color-on-color: white;
    /* headlines on a colored background */
    --paragraph-color-on-white: --mmall-slate1;
    /* paragraph text on a white background */
    --paragraph-color-on-color: white;
    /* paragraph text on a colored background */
    --paragraph-background-color: --mmall-slate1;
    --nav-link-color: var(--mmall-slate1);
    --nav-background-color: var(--base-color);
    --nav-hover-link-color: white;
    --nav-hover-background-color: var(--mmall-slate1);
}

* {
    /* outline: 2px dashed green; */
    font-family: var(--heading-font);
}

body {
    background-color: var(--base-color);
    margin: auto auto;
}

a {
    text-decoration: none;
}

/* HEADER/NAVBAR */

#header {
    /* outline: 3px solid blue; */
    margin: 2em 6em;
    height: 3em;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    column-gap: 10px;
    align-items: center;
}

#header img {
    height: 3em;
    max-width: 100%;
    min-width: 10em;
    object-fit: scale-down;
}

#nav-buttons {
    /* outline-color: purple; */

    /* height:max-content; */
    margin: auto;
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-buttons a {
    max-width: 100px;
    padding: 1em;
    /* text-align: center;
    vertical-align: middle; */
    color: var(--nav-link-color);
    background-color: var(--nav-background-color);
}

#nav-buttons a+a {
    border-left: 1px solid var(--nav-link-color);
}

#nav-buttons a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

/* FOOTER */

#footer {
    width: 100%;
    height: fit-content;
    background-color: var(--mmall-charc1);
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
}

#footer a {
    font-size: large;
    color: var(--base-color);
    padding: 1em;
}

#footer a:hover {
    text-decoration: underline;
}

/* PAGE CONTENT */

#page-content {
    margin: 2em 6em;
    display: grid;
}

.label {
    justify-self: center;
    width: fit-content;
    margin-bottom: 1em;
    font-size: x-large;
    padding: 10px;
    border: 2px solid var(--mmall-charc1);
}

/* HERO BOX */

#hero-box {

    max-width: 90%;
}

.blogpost * {
    /* border: 1px dashed green; */
    margin: auto;
}

.blogpost {
    border: 2px solid var(--mmall-charc1);
    margin: auto auto;
    height: auto;
    width: 60em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    column-gap: 2em;
}

.blogpost img {
    height: 10em;
    width: auto;
    grid-column: 1 2;
    object-fit: scale-down;
}

.blogpost p {
    /* height: auto; */
    grid-column: 2 4;
}

#blogpost-heading {
    text-decoration: underline;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 10px;
}

#blogpost-more {
    color: var(--mmall-slate1);
}

#blogpost-more:hover {
    color: var(--mmall-charc3);
    text-decoration: underline;
}